android/** linguist-vendored=true
ios/** linguist-vendored=true
linux/** linguist-vendored=true
macos/** linguist-vendored=true
windows/** linguist-vendored=true

*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false

CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

*.dart linguist-detectable=true